---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rbac-manager
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: manager
          image: theatre:latest
          imagePullPolicy: Never
          args:
            - --no-google  # disable Google for acceptance tests
            - --metrics-address=0.0.0.0
