---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: vault-manager
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: manager
          image: theatre:latest
          imagePullPolicy: Never
          args:
            - --theatre-image=$(THEATRE_IMAGE)
            - --metrics-address=0.0.0.0
