---
name: build-integration

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - master
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  push:
    branches:
      - master

  workflow_dispatch:

jobs:
  check-generated-resources:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23.3
      - uses: actions/setup-node@v5
        with:
          node-version: 10
      - name: Install prettier
        run: |
          sudo apt install -y nodejs npm
          npm install -g prettier
      - name: Ensure generated CRDs and manifests are up to date
        run: make manifests && git diff --exit-code config/

  vet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23.3
      - name: Ensure no go vet errors
        run: |
          make vet

  unit-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23.3
      - name: Install go tooling and setup-envtest
        run: |
          make install-tools
      - name: Run tests
        run: |
          export KUBEBUILDER_ASSETS="$(setup-envtest use -p path 1.24.x!)"
          ginkgo -race -randomizeSuites -randomizeAllSpecs -r ./...

  acceptance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23.3
      - name: Build test binaries
        run: make bin/acceptance.linux
      - name: Install tooling
        run: |-
          sudo bash <<EOF
          curl -fsL -o /usr/local/bin/kind https://github.com/kubernetes-sigs/kind/releases/download/v0.19.0/kind-linux-amd64
          curl -fsL https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv4.4.1/kustomize_v4.4.1_linux_amd64.tar.gz \
            | tar xfz -
          mv -v kustomize /usr/local/bin/kustomize
          curl -fsL -o /usr/local/bin/kubectl https://storage.googleapis.com/kubernetes-release/release/v1.24.11/bin/linux/amd64/kubectl
          chmod a+x /usr/local/bin/kustomize /usr/local/bin/kubectl /usr/local/bin/kind
          EOF
      - name: Prepare the cluster
        run: bin/acceptance.linux prepare --verbose && sleep 10
      - name: Run acceptance tests
        run: bin/acceptance.linux run --verbose
      - name: Show all pods
        run: kubectl get pods -A -o wide
        if: failure()
      - name: Show events
        run: kubectl get events
        if: failure()
      - name: Show workloads logs
        run: kubectl -n theatre-system logs theatre-workloads-manager-0
        if: failure()
      - name: Show rbac logs
        run: kubectl -n theatre-system logs theatre-rbac-manager-0
        if: failure()
      - name: Show vault manager logs
        run: kubectl -n theatre-system logs theatre-vault-manager-0
        if: failure()
